<div class="fundo-tela d-flex justify-content-center">
  <div class="painel-produdoro">
    <div class="botoes">
      <button type="button" class="btn ">Foco</button>
      <button type="button" class="btn ">Pausa Curta</button>
      <button type="button" class="btn ">Pausa Longa</button>
    <div id="tempo" class="d-flex justify-content-center">25:00</div>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn-iniciar-pausar">Iniciar</button>
    </div>
  </div>
</div>

