.fundo-tela{
  background-color:#001228 ;
  margin: auto;
  display:inline-block
}
.painel-produdoro {
  max-width: 630px;
  min-height: 485px;
  border-radius: 10px;
  background-color: #0D2A42;
}

button:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.btn{
  color: white;
  border: none;
  border-radius: 10px;
  border-style: none;
  font-family: 'Cabin-Regular';
  font-size: 30px;
  box-sizing: border-box;

}
.btn:hover{
  background: none rgba(0, 0, 0, 0.15);
  opacity: 1;
}

.btn-iniciar-pausar{
  background: white;
  width: 170px;
  height: 80px;
  border-radius: 10px;
  margin: auto;
  border-style: none;
  font-family: 'Cabin-Bold';
  font-size: 30px;
  color:#0D2A42;
}

#tempo {
  margin: auto;
  font-family: 'Cabin-Regular';
  font-size: 150px;
  color: white;
}

