body{
  background-color: #001228;
}
.corpo-lista-tarefas{
  background: none;
  font: cabin, regular;
  color:white;
  width: 420px;
  height: 60px;
  margin: auto;
}

.cabecalho-tarefa{
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-adicionar-tarefa{
  background: none;
  font: cabin, regular;
  color:white;
  width: 420px;
  height: 60px;
  border-radius: 10px;
  border-style: dashed;
  margin: 2px;
}

.icone-btn-adicionar-tarefa{
  padding-right: 6px;
}

.mostra-form{
  display: none;
}


.body-form {
  padding: 5px;
  width: auto;
  min-height: 312px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #0d2a42;
}

.input-form-geral {
  display: block;
  margin: 10px 10px;
  background-color: #17334a;
  color: aliceblue;
  border-radius: 10px;
  border-style: none;
  font-size: 23px;
  text-align: left;
  padding: 2px;
}
.input-nome-tarefa {
  width: 380px;
  height: 60px;
}

.titulo-repeticao {
  margin: 10px;
  color: white;
  font-size: 20px;
  display: inline-block;
}

.input-repeticao {
  width: 110px;
  height: 60px;
}
.botao-geral {
  font-size: 20px;
  color: white;
  border: none;
  display: inline;
  border-radius: 10px;
  height: 60px;
  width: 120px;
  margin: 10px 5px;
}

.botao-deletar {
  background-color: #0d2a42;
  margin-right: 5px;
  text-align: left;
}

.botao-cancelar {
  background-color: #17334a;
}

.botao-salvar {
  color: #001228;
}

.list-group{
  color: white;
  background-color: #0d2a42;
}

.list-group-item {
  color: white;
  background-color: #0d2a42;
}

.icone-btn-deletar-tarefa {
  width: auto;
  height: 16px;
  background-color: #0d2a42;
  cursor: pointer;
  border-radius: 2px;
  border-color: white;
  margin:2px;
}

@media (max-width:480px){
  .corpo-lista-tarefas, .cabecalho-tarefa, .btn-adicionar-tarefa {
    width: 95%;
  }
}

