<body>
  <div class="corpo-lista-tarefas">
    <span class="cabecalho-tarefa">Tarefas</span>
  </div>

  <div class="corpo-lista-tarefas">
    <form
      #f="ngForm"
      (ngSubmit)="onSubmit()"
      class="body-form mostra-form"
      [ngClass]="{ 'mostra-form': mostra }"
    >
      <div>
        <input
          class="input-form-geral input-nome-tarefa"
          type="text"
          name="Titulo"
          placeholder="  Nome da Tarefa"
          [(ngModel)]="formTarefa.titulo"
          required
        />
      </div>
      <div>
        <label class="titulo-repeticao" for="repeticaoTarefa">Repetições</label>
        <input
          class="input-form-geral input-repeticao"
          type="text"
          name="repeticaoTarefa"
          placeholder="  2"
          [(ngModel)]="formTarefa.repeticao"
          required
        />
      </div>

      <div>
        <button class="botao-geral botao-deletar">Deletar</button>
        <button class="botao-geral botao-cancelar">Cancelar</button>
        <button
          (click)="mostraForm()"
          type="submit"
          class="botao-geral botao-salvar"
        >
          Salvar
        </button>
      </div>
    </form>

    <div class="list-group" *ngFor="let tarefa of listaTarefas">
      <div>
        <span>{{ tarefa.titulo }}</span>
      </div>
      <div>
        <span>{{ tarefa.repeticao }}</span>
      </div>
      <div>
        <img src="" alt="" />
      </div>
    </div>

    <button
      (click)="mostraForm()"
      (click)="adicionaNovaTarefa()"
      class="btn-adicionar-tarefa"
    >
      <img
        class="icone-btn-adicionar-tarefa"
        src="../../../../assets/icones/Ícone Add Tarefa.svg"
        height="25"
      />
      Adicionar Tarefa
    </button>
  </div>
</body>
