<body>
  <div class="corpo-lista-tarefas">
    <span class="cabecalho-tarefa">Tarefas</span>
  </div>

  <div class="corpo-lista-tarefas">
    <div class="list-group" *ngFor="let tarefa of listaTarefas">
      <ul class="list-group">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <span>{{ tarefa.titulo }}</span>
          <span class="span-tarefa-repeticao">{{ tarefa.repeticao }}</span>

          <img
            [title]="'Apagar Tarefa'"
            (click)="deleteTarefa(tarefa.id)"
            class="icone-btn-deletar-tarefa"
            src="../../../../assets/icones/Side-Menu_icon.svg"
            alt="imagem-menu-deletar"
          />
        </li>
      </ul>
    </div>

    <form
      #f="ngForm"
      (ngSubmit)="onSubmit()"
      class="body-form mostra-form"
      [ngClass]="{ 'mostra-form': mostra }"
    >
      <div>
        <input
          class="input-form-geral input-nome-tarefa"
          type="text"
          name="Titulo"
          placeholder="  Nome da Tarefa"
          [(ngModel)]="formTarefa.titulo"
          required
        />
      </div>
      <div>
        <label class="titulo-repeticao" for="repeticaoTarefa">Repetições</label>
        <input
          class="input-form-geral input-repeticao"
          type="number"
          name="repeticaoTarefa"
          placeholder="  2"
          [(ngModel)]="formTarefa.repeticao"
          required
        />
      </div>

      <div>
        <button class="botao-geral botao-deletar" ngfor="">Deletar</button>
        <button class="botao-geral botao-cancelar">Cancelar</button>
        <button
          (click)="mostraForm()"
          type="submit"
          class="botao-geral botao-salvar"
        >
          Salvar
        </button>
      </div>
    </form>
    <button
      (click)="mostraForm()"
      (click)="
        adicionaNovaTarefa(
          formTarefa.id,
          formTarefa.titulo,
          formTarefa.repeticao
        )
      "
      class="btn-adicionar-tarefa"
    >
      <img
        class="icone-btn-adicionar-tarefa"
        src="../../../../assets/icones/Ícone Add Tarefa.svg"
        height="25"
      />
      Adicionar Tarefa
    </button>
  </div>
</body>
