<form class="body-form">
  <div>
    <input
      class="input-form-geral input-nome-tarefa"
      type="text"
      name="nomeTarefa"
      placeholder="  Nome da Tarefa"
    />
  </div>
  <div>
    <label class="titulo-repeticao" for="nome">Repetições</label>
    <input
      class="input-form-geral input-repeticao"
      type="text"
      name="nomeTarefa"
      placeholder="  2"
    />
  </div>
  <button class="botao-geral botao-deletar">Deletar</button>
  <button class="botao-geral botao-cancelar">Cancelar</button>
  <button class="botao-geral botao-salvar">Salvar</button>
</form>
