/* You can add global styles to this file, and also import other style files */

html, body {
   height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
   font-family: Cabin-Regular;
   src: url(assets/fontes/Cabin-Regular.ttf);
}

@font-face {
   font-family: Cabin-Bold;
   src: url(assets/fontes/Cabin-Bold.ttf);
}

