<body>
    <div class="header">
        <p class="title">Produdoro</p>
        <p class="config">Configurações</p>
        <p>Login</p>
    </div>   

    <div>
        <div class="pomodoro">
            <button class="foco">Foco</button>
            <button class="short">Short Break</button>
            <button class="long">Long Break</button>
        </div>    
        <div class="botoes">
            <button class="start"><button class="play"></button></button>
        </div>
    </div>

    
    <p class="task">Tarefas</p>
</body>
