<body>
    <div class="header">
        <p class="title">Produdoro</p>
        <button class="config" (click)="config()">Configurações</button>
        <button class="login" (click)="login()">Login</button>
    </div>   

    <div>
        <div class="pomodoro">
            <button class="foco">Foco</button>
            <button class="short">Short Break</button>
            <button class="long">Long Break</button>
        </div>    
    </div>

    
    <p class="task">Tarefas</p>
    <p class="underline">_________________________________________________</p>
    
    <div class="div-task">
        <button class="add-task">Adicionar Tarefas</button>
    </div>
</body>
